h1{
    color: red;
}

.signatureCanvas{
    border: 5px solid black;
    border-radius: 35px;
}

#job-ticket{
margin: 10px;
}

.table-responsive{
    display: flex;
    flex-wrap: wrap;
}

#addRowBtn{
    border-radius: 50%;
    font-size: 25px;
}

#addRowBtn:hover{
    background-color: green;
}

#inputContainer{
    list-style: none;
}

.inputItem{
    font-weight:700;
}

caption{
    caption-side: top;
    text-align: center;
}

.hide{
    display: none;
}

.arrow{
    display: none;
}

@media screen and (max-width: 425px) {
    #descript{
        min-width: 150px;
        min-height: 80px;
    }

    .arrow{
        display: inherit;
    }

    input[type=number]::-webkit-inner-spin-button {
        opacity: 1
    }

}