h1{
    color: red;
}

.sigCanvas{
    border: 5px solid black;
}

#job-ticket{
margin: 10px;
}

.table-responsive{
    display: flex;
    flex-wrap: wrap;
}

#addRowBtn{
    border-radius: 50%;
    font-size: 25px;
}

#addRowBtn:hover{
    background-color: green;
}

@media screen and (max-width: 425px) {
    
}