#ticketBody{
    padding-left: 2vw;
    display: flex;
    justify-content: space-around;
}

.ticket{
    padding: 1vw;
    text-decoration: none;
    list-style: none;
}


#workerInput{
    padding-right: 20px;
}

#confirmationDetails ul{
    list-style: none;
}
