/* font-family: 'Nunito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* base styling */

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.hide{
  display: none;
}

/* header styling */

.cut-all-logo {
  height: 25vh;
}

nav{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: space-around; */
  background-color: rgb(12, 100, 253);
  z-index: 999;
}

.link-container{
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
  font-size:x-large;
}

nav p {
display: none;
}

.link{
  color: black;
  text-decoration: none;
  padding: 9px;
}

/* body styling */

.searchbar {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border-radius: .7em;
  transition: 0.3s ease;
  border-width: 3px;
  border-color: rgb(31, 95, 158);
  margin-right: 10px;
}

.searchbar:hover {
  box-shadow: 0 0 0 2px rgba(43, 127, 210, 0.847);
  border-color: rgb(44, 126, 208);
}

.search-submit {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-submit img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

ul {
  padding: 0;
}

/* styling drop downs */

.detail-cards {
  display: flex;
  justify-content: center;
}

.detail-cards ul {
  list-style: none;
}

li.part{
  transition: all 0.4s ease;
}

.down{
  transform: rotateZ(-90deg)
}

#partLastPerson{
  padding-top: 15px;
}
/* inventory styles */
.part {
  width: 350px;
}

.card{
  margin: 0 30px 15px 30px ;
  border-radius: 35px;
}

.part-collapse {
border-radius: 35px;
margin-bottom: 5px;
}

.inventory#partsContainer{
  font-size: larger;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.inventory #partPicture{
  background-color: rgb(44, 44, 255);
  border-radius: 35px;
}

.toolTracker{
  display: flex;
  justify-items: center;
  justify-content: space-around;
  margin: 2vw;
}

/* ledger styles */

.ledger#ticketContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.timeSheet{
  margin: 2vw;
}

.timeSheet.workCodes{
  text-align: left;
  color: black;
}

/* serial numbers styles */

.serialNums.partInfo #entryContainer{
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  list-style-type:none; 
  justify-content: space-around;
  padding-top: 2vw;
}

.splitNumConatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}

.entry{
  font-size: larger;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.nums{
  width: 25vw;
  margin: 10px;
}

/* login and register form styles */

.auth_form{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  min-height: 20rem;
  width: 40rem;
  max-width: 90%;
}

.inputs{
  padding: 20px;
}

.auth-info{
  padding-right: 20px;
}

/* user profile styles */
.userProfile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userInfoSection{
  width: 40%;
}

@media screen and (max-width: 768px){

  .link-container{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: larger;
  }

  .auth_form{
    left: 46%;

  }
}

/* styles for phone view */
@media screen and (max-width: 425px){
  .link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  section{
    color: grey;
  }

  #filter-bar{
    flex-wrap: wrap;
  }

  #filter-item{
    padding: 5px;
  }
  
  .item{
    color: black;
  }

  #partLastPerson{
    display: none;
  }

  nav p{
    display: none;
  }

  /* login and register styles */
  .auth_form{
    left: 43%;
  }

}