/* font-family: 'Nunito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* base styling */

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

/* header styling */

.cut-all-logo {
  height: 25vh;
}

nav{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */
  background-color: rgb(12, 100, 253);
}

.link-container{
  display: flex;
  flex-direction: column;
}

nav p {
position: fixed;
right: 1vw;
}

.link{
  color: black;
  text-decoration: none;
  padding: 9px;
}

/* body styling */

.searchbar {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border-radius: .7em;
  transition: 0.3s ease;
  border-width: 3px;
  border-color: rgb(31, 95, 158);
  margin-right: 10px;
}

.searchbar:hover {
  box-shadow: 0 0 0 2px rgba(43, 127, 210, 0.847);
  border-color: rgb(44, 126, 208);
}

.search-submit {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-submit img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

ul {
  padding: 0;
}

.part {
  list-style: none;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.685);
  border-radius: 35px;
  font-size: larger;
}

.part-collapse {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

/* styling drop downs */

.detail-cards {
  display: flex;
  justify-content: center;
}

.detail-cards ul {
  list-style: none;
}

li.part{
  transition: all 0.4s ease;
}

.down{
  transform: rotateZ(-90deg)
}

#partLastPerson{
  padding-top: 15px;
}

/* styles for phone view */
@media screen and (max-width: 425px){
  section{
    color: grey;
  }

  #filter-bar{
    flex-wrap: wrap;
  }

  #filter-item{
    padding: 5px;
  }
  
  .item{
    color: black;
  }

  #partLastPerson{
    display: none;
  }

  p{
    display: none;
  }

}