/* font-family: 'Nunito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
  --font-1: 'Onest', sans-serif;
  --font-2: 'Ubuntu', sans-serif;
}

/* global styling */

html {
  overflow: auto !important;
  padding-right: 0 !important;

}

.title {
  font-family: var(--font-1);
}

.body {
  font-family: var(--font-2);
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.hide {
  display: none;
}

.grayed {
  background-color: #f2f2f2;
}

/* header styling */

.cut-all-logo {
  height: 25vh;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(12, 100, 253);
  z-index: 999;
}

.link-container {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
}

nav p {
  display: none;
}

.link {
  color: black;
  text-decoration: none;
  padding: 11px;
}

#userOptions {
  text-align: center;
  padding: 10px 30px;
}

#userOptions .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userOptions #userName {
  font-size: 1.1rem;
  font-weight: bold;
}

.dropdown-item a {
  text-decoration: none;
  font-style: none;
  color: black;
}

#userOptions #userEmail {
  font-size: 0.9rem;
  color: #888888;
}

.loginNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* body styling */

.searchbar {
  width: 250px;
  height: 40px;
  cursor: pointer;
  border-radius: .7em;
  transition: 0.3s ease;
  border-width: 3px;
  border-color: rgb(31, 95, 158);
  margin-right: 10px;
}

.searchbar:hover {
  box-shadow: 0 0 0 2px rgba(43, 127, 210, 0.847);
  border-color: rgb(44, 126, 208);
}

.search-submit {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-submit img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

ul {
  padding: 0;
}

/* styling drop downs */

.detail-cards {
  display: flex;
  justify-content: center;
}

.detail-cards ul {
  list-style: none;
}

li.part {
  transition: all 0.4s ease;
}

.down {
  transform: rotateZ(-90deg)
}

#partLastPerson {
  padding-top: 15px;
}

/* inventory styles */
.part {
  width: 350px;
}

.card {
  margin: 0 30px 15px 30px;
  border-radius: 35px;
}

.part-collapse {
  border-radius: 35px;
  margin-bottom: 5px;
}

.inventory#partsContainer {
  font-size: larger;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#partPicture {
  height: 30vh;
  background-color: rgb(44, 44, 255);
  border-radius: 35px;
  width: 290px;
}

.toolTracker {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  margin: 2vw;
}

/* ledger styles */
.ledgerPage {
  background-color: hsl(0, 0%, 93%);
  padding: 50px 0;
  display: flex;
}

#ticketContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 100vh;
}

#ledgerSearchbar {
  margin: 20px 8px;
}

#ledgerViewerSection {
  border: 1px solid black;
  margin: 0 20px;
  background-color: white;
  width: 72vw;
  min-width: 620px;
}

#viewerContainer {
  border-top: 1px solid black;
  padding: 10px 0;
  height: 85%;
  min-height: 900px;
}

.pdfViwerLedger {
  background-color: #525659;
  height: 100%;
  width: 100%;
}

#ticketBody {
  padding-left: 2vw;
  display: flex;
  justify-content: space-around;
}

#ledgerTicketSection {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 23%;
  min-width: 340px;
  overflow: scroll;
}

.ticket {
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

#workerInput {
  padding-right: 20px;
}

.jobInfoLine {
  list-style: numbers;
}

#ticketLogo {
  height: 50px;
  width: 60px;
}

#customer {
  font-weight: 700;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif
}

.pdfLedgerButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.ledgerSearchBarContainer {
  /* position: absolute; */
  position: sticky;
  top: 0;
  background-color: white;
}

.ledgerTitle {
  padding: 20px 0 0;
}

@media screen and (max-width: 1200px) {
  .ledgerPage {
    flex-wrap: wrap;
  }

  #ledgerViewerSection {
    width: 100%;
  }

  #ledgerTicketSection {
    overflow: auto;
    max-width: none;
    margin: 0 20px 20px;
  }

  #ticketContainer {
    max-height: none;
  }
}

/* timecard page */
.timeSheet {
  margin: 2vw;
}

.timeSheet.workCodes {
  text-align: left;
  color: black;
}

/* edit ticket component */

.editComponent {
  padding: 35px;
}

.editAdminSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 1px solid rgba(128, 128, 128, 0.351);
  padding: 5px;
}

.editWorkCompletedSection {
  margin: 20px 0;
}

.editTimeSection {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.351);
  padding: 5px;
}

.timeTitleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.timeContentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.editInputGroup {
  margin: 5px;
  max-width: 20%;
  padding: 10px;
  min-width: 130px;
}

.editTimeInputs {
  min-width: 130px;
}

.editOtherWorkSection {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 1px solid rgba(128, 128, 128, 0.351);
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.editConfirmationContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 35%;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  min-width: 250px;
}

.editConfirmationMsg {
  text-align: left;
}

.timeBreakdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  min-width: 290px;
}

/* serial numbers styles */

.modalContainer {
  display: flex;
  justify-content: center;
}

.serialNums.partInfo #entryContainer {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 2vw;
}

.splitNumConatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}

.entry {
  font-size: larger;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.nums {
  width: 25vw;
  margin: 10px;
}

#serialSearchbar {
  margin: none;
}

#viewerSection {
  border-radius: 35px;
  border: 1px solid black;
  margin: 10px 20px;
  background-color: white;
}

.searchContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pdfButtonsContainer {
  /* border: 1px solid black; */
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.pdfViwer {
  min-height: 800px;
  min-width: 350px;
  max-width: 80%;
  background-color: #525659;
  height: 100%;
  width: 100%;
}

#ticketSection {
  border-radius: 35px;
  border: 1px solid black;
  margin: 10px 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 33%;
}

.ticketList {
  min-width: 33%;
}

/* login and register form styles */

.auth_form {
  min-height: 20rem;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.inputGroup {
  width: 100%;
}

.visibility-icons {
  position: absolute;
  top: 5px;
  right: 30px;
  /* transform: translateY(-50%); */
  cursor: pointer;
}

.passwordGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.auth-info {
  padding-right: 20px;
}

/* job ticket styles */

/* user profile styles */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.profile-header {
  background: #fff;
  width: 100vw;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  overflow: hidden;
  float: left;
  width: 340px;
  height: 200px;
}

.admin-banner {
  position: relative;
  top: 40px;
  left: 45%;
  padding: 8px 12px;
  transform: rotate(45deg);
  width: 10rem;
  color: #01480e;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  z-index: 6;
  border-radius: 50%;
  background: linear-gradient(to top right, green, white);
}

.profile-img img {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 30vw;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: "Bree Serif", serif;
  margin-left: 10px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.right-side {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
}

.userProfile,
.timeCards {
  margin: 0 2rem;
}

/* time card styles */

.timeSheet.confirmationModal {
  min-width: fit-content;
  margin: 0 auto;
}

.timeCardData .row {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

  .link-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: larger;
  }

}

/* styles for phone view */
@media screen and (max-width: 425px) {
  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  section {
    color: grey;
  }

  #filter-bar {
    flex-wrap: wrap;
  }

  #filter-item {
    padding: 5px;
  }

  .item {
    color: black;
  }

  #partLastPerson {
    display: none;
  }

  nav p {
    display: none;
  }

  /* user profile styles */

  .profile-side {
    display: none;
  }

  .profile-img img {
    height: 15vh;
    width: 15vh;
  }

  .userProfile,
  .timeCards {
    margin: 0;
  }
}